@charset "UTF-8";

$main-color:#554945;
$font-size:15px;
$font-size-sp:14px;
$line-height: 2.333;

/*--ローディング-*/

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image:url(../images/loading.png);
    z-index: 555;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px){
        background-image:url(../images/loading_sp.png)
    }
}

.loader .txt {
    color: $main-color;
    display: none;
}

/*--全体--*/

.contents-title{
    margin-top: 108px;
}

.subtitle{
    font-size: 13px;
}

body{
color: $main-color;
font-size: $font-size;
font-family: "Hiragino SansW2","Hiragino Kaku Gothic ProN",sans-serif;
background-image:url(../images/backgroung.png);
background-repeat: repeat;

@media screen and (max-width: 767px){
    font-size: $font-size-sp;
}
}

/*---*/

#nav-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 325px;
    ul {
        list-style: none;
        li{
            margin-bottom: 76px;
            text-align: center;
        }
    }
    .logo{
        text-align: center;
        margin-top: 98px;
        margin-bottom: 76px;
    }

    @media screen and (max-width: 767px){
        display: none;
    }
}

/*--フッター--*/

.footer{
    text-align: center;
    margin-top: 243px;
    padding: 30px;
}

/*--トップページボタン--*/

.toppagebutton-wrap{
    position: fixed;
    width: 3%;
    top: 0;
    right: 0;
    @media screen and (max-width: 767px){
        width: 8%;
    }

    .toppagebutton{
        writing-mode: vertical-rl;
        margin-top: 420px;

        .arrow{
            position: relative;
            display: inline-block;
            padding: 0 0 0 4px;
            vertical-align: middle;
            text-decoration: none;
        }

        .arrow::before,
        .arrow::after{
            position: absolute;
            top: -140px;
            bottom: 0;
            left: 0;
            margin: auto;
            content: "";
            vertical-align: middle;
        }

        .top::before{
            box-sizing: border-box;
            width: 25px;
            height: 25px;
            border: 1px solid;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        .top::after{
            left: 8px;
            width: 8px;
            height: 8px;
            border-top: 1px solid;
            border-right: 1px solid;
            -webkit-transform: rotate(45deg);
            transform: rotate(-45deg);
        }
    }  
}

/*--ハンバーガーメニュー--*/

.hamburger,.sp-nav{
    display: none;
}

    @media screen and (max-width: 767px){
        .hamburger{
            display: block;
            position: fixed;
            top: 30px;
            right: 8%;
            cursor: pointer;
            height: 33px;
            z-index: 9999;

            span{
                width: 40px;
                height: 3px;
                background: #554945;
                display: block;
                position: relative;
                top: 10px;
                transition: 0.3s;
            }

            span::before,span::after{
                content: "";
                width: 40px;
                height: 3px;
                background: #554945;
                display: block;
                position: absolute;
                transition: 0.3s;
            }

            span::before{
                bottom: 15px;
            }

            span::after{
                top: 15px;
            }
        }

        .open span{
            background: transparent;
            
            &::before{
                bottom: 0px;
                transform: rotate(45deg);
            }

            &::after{
                top: 0px;
                transform: rotate(135deg);
            }
        }

        .sp-nav{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(255, 255, 255, 0.8);
            z-index: 9000;

            ul{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                li{
                    text-align: center;
                    color: #554945;
                    font-size: 18px;
                    padding: 40px 0;
                }
            }
        }
    }

/*--トップページ--*/

.toppage{
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px){
        display: block;
    }
}

#main-visual{
    img{
        max-width: 100%;
    }
}

#contents{
    width: 75.84%;
    margin-left:auto;
    text-align: center;
    padding: 0 1%;

    @media screen and (max-width: 767px){
        margin: 0 auto;
        width: 94.67% ;
    }
}

.concept-wrap{
    font-family: "YuMincho","游明朝体","Yu Mincho","游明朝";
    margin-top: -300px;
    
    h1{
        font-size: 38px;
        line-height: 1.58;
        margin-bottom: 61px;
    }

    p{
        font-size: 20px;
        line-height: 2.00;

        .br-sp{
            display: none;
            @media screen and (max-width: 767px){
                display: block;
            }
        }
    }

    @media screen and (max-width: 767px){
        margin-top: auto;

        h1{
            line-height: 2.191;
            margin-bottom: 44px;
            font-size: 28px;
            text-align: left;
        }

        p{
            line-height: 2;
            font-size: 14px;
            text-align: left;
        }
    }
}

.about-wrap{
    margin-top: 270px;
    
    h2 img{
        max-width: 100%;
    }

    .about-contents{
        display: flex;
        justify-content: center;
        margin-top: 72px;
    }

    .name{
        display: flex;
        justify-content: space-between;
        border-right: #c7c7c7 solid 1px;
        width: 33.11%;
        padding-right: 2.32%;
    }

    h3{
        font-size: 1.8vw;
        margin: 74px 1.46% 73px 0;
    }

    .name p{
        font-size: 1.0vw;
        color: #757575;
        margin: 81px 4.83% 81px 0;
    }

    .about-text{
        width: 43.44%;
        margin: 10px 0 10px 5.79%;
        text-align: left;
        line-height: 1.73;
    }

    .about-view{
        width: 135px;
        height: 28px;
        position:relative;
        float: right;
        margin-inline: auto;

        img {
            height: auto;
            left: 0;
            position: absolute;
            max-width: 100%;
        }

        img:last-of-type {
            opacity: 0;
            transition: opacity .7s;
        }

          &:hover img{
            opacity: 1;
        }

        margin-top: 34px;

        .about-view-text{ position: absolute;
            top:0;
            left:7px;
        }
            
        p{
            color: #757575;
            font-size: 10px;
        }
    }

        @media screen and (max-width: 1024px){
            .about-view{
                img:last-of-type {
                opacity: 1;
                }
            }
        }

        @media screen and (max-width: 900px){
            margin-top: 130px;

            .about-contents{
                display: block;
                margin: auto;
            }

            .name{
                justify-content: left;
                border-right: none;
                margin-top: 35px;
                width: 85.33%; 
                padding-right: 0;
            }

            h3{ 
                margin: 0 4% 0 0;
                font-size: 20px;
            }

            .name p{
                margin: 0;
                border-right: none;
                font-size: 14px;
                margin-top: 4px;
            }

            .about-text{
                width: 85.33%;
                margin: 25px 0 10px 0;
            }
        }

        @media screen and (max-width: 767px){

            .about-view img:first-of-type {
                    display: none;
            }
        }
    }

.service-wrap{
    margin-top: 200px;

    img{
        max-width: 100%;
    }

    .service-contents{
        display: flex;
        justify-content: center;

        .service1{

            .service-flame{
                position: relative;
                width: 100%;
                .flame{
                    opacity: 0;
                    transition: all 2s/*処理にかかる時間*/;
                    &.done{
                        opacity : 1; transform : translate(0, 0);
                    }
                }

                .service-text1{
                    position: absolute;
                    width: 46.8%;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    line-height: $line-height;
        
                    h3{
                        font-size: 25px;
                    }
        
                    p{
                        text-align: left;
                    }
                }
            }

            .design-img1{
                position: absolute;
                bottom: -30px;
                right: 4%;
                width: 37%;
            }

        }

        .service2{
            
            .service-flame{
                position: relative;
                width: 100%;
                .flame{
                    opacity: 0;
                    transition: all 2s/*処理にかかる時間*/;
                    &.done{
                        opacity : 1; transform : translate(0, 0);
                    }
                }

                .service-text2{
                    position: absolute;
                    width: 46.8%;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    line-height: $line-height;
    
                    h3{
                    font-size: 25px;
                    }
    
                    p{
                    text-align: left;
                    }
                }
    
                .design-img2{
                    position: absolute;
                    bottom: -30px;
                    right: 14%;
                    width: 34.6%;
                }
            }      
        }
    }

    @media screen and (max-width: 1024px){
        .service-contents{
            display: block;
            justify-content: center;

            .service1{
                height: 330px;
                position: relative;

                .service-flame{
                    .service-text1{
                    position: absolute;
                    width: 56%;

                        h3{
                        font-size: 20px;
                        }

                        p{
                        text-align: left;
                        }
                    }
                }
            }

            .design-img1{
                position: absolute;
                bottom: -180px;
                right: 8%;    
                width: 35.29%;
            }

            .service2{
                margin-top: 30px;
                position: relative;

                .service-flame{
                    .service-text2{
                        position: absolute;
                        width: 56%;

                        h3{
                            font-size: 20px;
                        }

                       p{
                            text-align: left;
                        }
                    }
                }

                .design-img2{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 32.35%; 
                }
            }
        }
    }
}

.work-wrap{
    margin-top: 205px;
    @media screen and (max-width: 1024px){
        margin-top: 124px;
    }

    .slider{
        display: flex;
        margin-top: 53px;
        position:relative;
        height: auto;
        justify-content: space-between;

        .slider-item{
            position: relative;
            width: 31.65%;

            /*--ホバー--*/
                
            img {
                max-width: 100%;
                margin-right: 2.35%;
                height: auto;
                left: 0;
                top: 0;
            }

            img:last-of-type {
                opacity: 0;
                transition: opacity .7s;
                position: absolute;
            }

            &:hover img{
                opacity: 1;
            }
        }
    }

            /*-----*/
    
    .work-view{
        width: 135px;
        height: 28px;
        position:relative;
        float: right;
        margin-inline: auto;
        margin-top: 34px;

            img {
                 height: auto;
                 left: 0;
                 max-width: 100%;
            }

            img:last-of-type {
                 opacity: 0;
                 transition: opacity .7s;
                 position: absolute;
            }

            &:hover img{
                 opacity: 1;
            }

        .work-view-text{ 
            position: absolute;
            top:0;
            left: 19px;
        }

        p{
            color: #757575;
            font-size: 10px;
        }
    
        @media screen and (max-width: 1024px){
                img:last-of-type {
                    opacity: 1;
                }
        }
    }

        @media screen and (max-width: 767px){
            .slider{
                display: block;
            }

            .slider .slider-item{
                img{
                position: static;
                height: auto;
                }

                img:first-of-type{
                display: none;
                }

                img:last-of-type {
                  position: static;
                  opacity: 1;
                }
            }

        .work-view img:first-of-type {
            display: none;
        }
    }
}

.contact-wrap{
    background-color:rgba($color: #e2e1e0, $alpha: 0.7);
    border-radius: 37px;
    width: 82.34%;
    margin: 0 auto;
    margin-top: 200px;
    padding-bottom: 105px;

    h2{
        padding-top: 80px;
    }

    p{
        margin-top: 88px;
        @media screen and (max-width: 767px){
        line-height: $line-height;
        margin-top: 42px;
        }
    }

    .br-sp{
        display: none;
        @media screen and (max-width: 767px){
            display: block;
        }
    }

    .contact-button{
            width: 300px;
            margin: 93px auto 0 auto;
            position:relative;

            a{
                display: block;
                height: 100%;
                justify-content: center;
                align-items: center;
            }

            img {
                height: auto;
                left: 0;
                max-width: 100%;
            }

            img:last-of-type {
                position: absolute;
                opacity: 0;
                transition: opacity .7s;
            }

            &:hover img{
                opacity: 1;
            }

        .contact-text{
            position: absolute;
            top:14px;
            left:0;
            width: 300px;
        }
    }

        @media screen and (max-width: 1024px){
            .contact-button{
                img:last-of-type {
                opacity: 1;
                }
            }
        }
        
    @media screen and (max-width: 767px){
        .contact-button img:first-of-type {
            display: none;
        }

        .contact-button {
            margin: 58px auto 0 auto;
            width: 78.79%;

            .contact-text{
                top:11px;
                width: 100%;
            }
        }
    }
}

/*--わたしのこと--*/

h2{
    font-size: 30px;
    @media screen and (max-width: 767px){
        font-size: 20px;
    }
}

h3{
    font-size: 20px;
}

.name-wrap{
    display: flex;
    margin-top: 95px;

    img{
        max-width: 100%;
    }

    .name-photo-sp{
        display: none;
    }

    .name{
        .name-title{
            display: flex;

            h3{
                font-size: 20px;
                padding: 43px 15px 25px 20px;
            }

           .sub-name{
                font-size: 13px;
                color: #757575;
                padding: 55px 123px 25px 0;
            }
        }
    
        .name-text{
            width: 360px;
            padding-top: 25px;
            border-top: #c7c7c7 solid 1px;
            text-align: left;
            line-height: $line-height;
        }

        .name-photo-pc{
            width: 467px;
        }
    }

    @media screen and (max-width: 1024px){
    display: block;
    margin-top: 58px;

        .name-photo-sp{
            display: block;
            width: 90.67%;
            margin-bottom: 38px;
        }

        .name{
            .name-title{
                display: flex;

                h3{
                    font-size: 20px;
                    padding: 0 0 13px 0;
                }
                .sub-name{
                font-size: 13px;
                color: #757575;
                padding: 6px 0 16px 3.2%;
                }
            }

            .name-text{
            width: 96%;
            padding-top: 29px;
            border-top: #c7c7c7 solid 1px;
            text-align: left;
            line-height: $line-height;
            }
        }

        .name-photo-pc{
            display: none;
        }
    }
}

.skill-wrap{
    
    h2{
        font-size: 30px;
        margin-top: 200px;
    }

    .skill{
        display: flex;
        flex-wrap: wrap;
    }

    .skill-contensts{
        display: flex;
        margin-top: 68px;
        margin-right: 1.16%;
        background-color:rgba($color: #e2e1e0, $alpha: 0.7);
        border-radius: 37px;
        width: 48%;
        height: auto;

        img{
            max-width: 100%;
            height: auto;
            margin: auto 0 auto 4.11%;
        }

        .skill-text{
            display: block;
            margin: 35px 5.48% 33px 3.19%;

            h3{
                font-size: 20px;
            }

            p{
                margin-top: 32px;
                text-align: left;
                line-height: $line-height;
            }
        }

        .skill-text-ai,.skill-text-ps{
            display: block;
            margin: 30px 5.48% 33px 3.19%;

            h3{
                font-size: 20px;
            }

            p{
                margin-top: 21px;
                text-align: left;
                line-height: $line-height;
            }
        }
    }

    @media screen and (max-width: 1024px){
        .skill{
            display: block;
                flex-wrap: nowrap;
            }
        .skill-contensts{
        display: flex !important;
        margin-top: 46px;
        margin-right: 0;
        width: 80%;
        height: auto;
            img{
                margin: 47px 0 53px 4.11%;
            }
            .skill-text{
                display: block;
                   margin: auto 7.33% auto 7%;
                h3{
                    font-size: 18px;
                }
                p{
                    margin-top: 20px;
                    text-align: left;
                    line-height: $line-height;
                }
            }
            .skill-text-ai,.skill-text-ps{
                display: block;
                margin: auto 7.33% auto 7%;
                   h3{
                        font-size: 18px;
                    }
                   p{
                        margin-top: 20px;
                        text-align: left;
                        line-height: $line-height;
                    }
            }
        }
    }

    @media screen and (max-width: 767px){
        h2{
            font-size: 20px;
            margin-top: 130px;
        }
    }
}

.still-wrap{

    h2{
        margin-top: 201px;
    }

    .still-date{
        margin-top: 57px;
        padding-bottom: 9px;
        text-align: left;
        color: #757575;
        width: 20.54%;
        border-bottom: #c7c7c7 solid 1px;
    }

    .still-text{
        text-align: left;
        line-height: $line-height;
    }

    .still-date,.still-text{
        opacity : 0;
        visibility: hidden;
        transition: 1s;
        transform: translateY(30px);
    }

    .active{
        /*アニメーション要素までスクロールした時のスタイル*/
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    @media screen and (max-width: 767px){

        h2{
            margin-top: 130px;
        }

        .still-date{
            margin-top: 30px;
            padding-bottom: 9px;
            text-align: left;
            color: #757575;
            width: 45.33%;
            border-bottom: #c7c7c7 solid 1px;
        }
    }
}

.forte-wrap{

    img{
        max-width: 100%;
    }

    h2{
        margin-top: 200px;
    }

    .forte-contents{
        display: flex;

        .forte1{
            position: relative;

            .forte-flame{
                .flame{
                    opacity: 0;
                    transition: all 2s/*処理にかかる時間*/;
                    &.done{
                        opacity : 1; transform : translate(0, 0);
                    }
                }

                img{
                    max-width: 100%;
                }
            }

            .forte-text{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-65%);
                width: 60%;

                h3{
                    font-size: 18px;
                    text-align: center;
                }
                p{
                    text-align: left;
                    margin-top: 38px;
                    line-height: 2.023;
                }
            }

            .forte-img1{
                position: absolute;
                bottom: 60px;
                right: 12%;    
                width: 26.4%;
            }
        }

        .forte2{
            position: relative;

            .forte-flame{
                .flame{
                    opacity: 0;
                    transition: all 2s/*処理にかかる時間*/;

                    &.done{
                        opacity : 1; transform : translate(0, 0);
                    }
                }

               img{
                    max-width: 100%;
                }
            }

            .forte-text{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-45%,-50%);
                width: 60%;

                    h3{
                    font-size: 18px;
                    text-align: center;
                    }

                    p{
                    text-align: left;
                    margin-top: 38px;
                    line-height: 2.023;
                }
            }

            .forte-img2{
                position: absolute;
                bottom: 30px;
                right: 15%;    
                width: 38.2%;
            }
        }
    }

    @media screen and (max-width: 1024px){
        .forte-contents{
            display: block;
            margin-top: 10px;

            .forte1{
                margin-top: 35px;
                position: relative;

                .forte-text{
                    position: absolute;
                    width: 74.67%;
                    top: 60%;

                    h3{
                        font-size: 20px;
                    }

                    p{
                    margin-top: 22px;
                    line-height: 2.023;
                    font-size: $font-size-sp;
                    }
                }

                .forte-img1{
                    position: absolute;
                    bottom: -12px;
                    right: 8%;  
                    width: 23.53%;
                }
            }

            .forte2{
                position: relative;

                .forte-text{
                    position: absolute;
                    width: 74.67%;

                    h3{
                        font-size: 20px;
                    }

                    p{
                        margin-top: 22px;
                        line-height: 2.023;
                        font-size: $font-size-sp;
                    }
                }

                .forte-img2{
                    position: absolute;
                    top: 5px;
                    left: 7%;
                    width: 32.35%;
                }  
            }
        }
    }

    @media screen and (max-width: 767px){
        h2{
            margin-top: 130px;
        }
    }
}

.favorite-wrap{

    img{
        max-width: 100%;
    }

    h2{
        margin-top: 200px;
    }
    
    .favorite-contents{
        display: flex;

        .favorite1{
            position: relative;

            .favorite-flame{

                .flame{
                    opacity: 0;
                    transition: all 2s/*処理にかかる時間*/;

                    &.done{
                        opacity : 1; transform : translate(0, 0);
                    }
                }

                img{
                    max-width: 100%;
                }
            }

            .favorite-text{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 60%;

                    h3{
                        font-size: 18px;
                        text-align: center;
                    }

                        p{
                    text-align: left;
                    margin-top: 38px;
                    line-height: $line-height;
                    }
                }

            .favorite-img1{
                position: absolute;
                bottom: 0;
                right: 0;  
                width: 29.6%;
            }
        }

        .favorite2{
            position: relative;

            .favorite-flame{

                .flame{
                    opacity: 0;
                    transition: all 2s/*処理にかかる時間*/;

                 &.done{
                        opacity : 1;
                        transform : translate(0, 0);
                    }
                }

                img{
                    max-width: 100%;
                }
            }

            .favorite-text{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 60%;

                h3{
                    font-size: 18px;
                    text-align: center;
                }

                p{
                    text-align: left;
                    margin-top: 38px;
                    line-height: $line-height;
                }
            }

            .favorite-img2{
                position: absolute;
                bottom: 0;
                right: 0;  
                width: 23.8%;
            }
        }
    }

    @media screen and (max-width: 1024px){

        .favorite-contents{
            display: block;

            .favorite1{
                position: relative;

                .favorite-text{
                    position: absolute;
                    width: 74.67%;

                    h3{
                        font-size: 20px;
                    }

                    p{
                        margin-top: 27px;
                        line-height: $line-height;
                        font-size: $font-size-sp;
                    }
                }

                .favorite-img1{
                    position: absolute;
                    bottom: -37px;
                    right: 9%;  
                    width: 29.41%;
                }
            }

            .favorite2{
                position: relative;

                .favorite-text{
                    position: absolute;
                    width: 74.67%;

                    h3{
                        font-size: 20px;
                    }

                    p{
                        margin-top: 27px;
                        line-height: $line-height;
                        font-size: $font-size-sp;
                    }
                }

                .favorite-img2{
                    position: absolute;
                    top: -26px;
                    left: 9%;
                    width: 23.53%;
                }
            }
        }
    }

    @media screen and (max-width: 767px){
        h2{
            margin-top: 130px;
        }
    }
}


.feature-wrap{

    h2{
        margin-top: 200px;
    }

    .feature-date{
        margin-top: 57px;
        text-align: left;
        color: #757575;
        width: 40.49%;
        padding-bottom: 8px;
        border-bottom: #c7c7c7 solid 1px;
    }

    .feature-text{
        text-align: left;
        line-height: $line-height;
    }

    .feature-date,.feature-text{
        opacity : 0;
        visibility: hidden;
        transition: 1s;
        transform: translateY(30px);
    }

    .active{
        /*アニメーション要素までスクロールした時のスタイル*/
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    @media screen and (max-width: 767px){
        
        h2{
            margin-top: 130px;
        }

        .feature-date{
            margin-top: 57px;
            width: 85.33%;
            padding-bottom: 5px;
        }
    }
}

/*--制作実績--*/

.works-wrap{

    display: flex;

    .works-contents{
        margin-top: 150px;
        margin-right: 1.64%;

        .works-category{
            display: flex;
            margin-bottom: 15px;

            .works-genre{
                padding-right: 2.11%;
                border-right:solid 1px;
            }

            .works-date{
                padding-left: 2.11%;
            }
        }

        h2{
            text-align: left;
            font-size: 20px;
            margin-top: 28px;
        }

        .works-img{
            background-color: #fff;
        }

        img{
            max-width: 100%;
            &:hover{
                opacity: 0.7;
                filter: brightness(100%);
            }
        }
    }
    
    @media screen and (max-width: 767px){
        display: block;

        .works-contents{
            margin-top: 50px;
            margin-right: auto;

            .works-category{
                display: flex;
                margin-bottom: 5px;

                .works-genre{
                    padding-right: 5.33%;
                }

                .works-date{
                    padding-left: 5.33%;
                }
            }

            h2{
                font-size: 20px;
                margin-top: 11px;
            }
        }
    }
}

/*--制作実績詳細--*/

.works-view-wrap{
    margin: 95px auto auto auto;

    img{
        max-width: 100%;
    }
    h2{
        font-size: 30px;
        margin-top: 32px;
    }
    .works-view-category{
        display: flex;
        justify-content: center;
        margin-top: 15px;

        .works-view-genre{
            padding-right: 2.11%;
            border-right:solid 1px;
        }

        .works-view-date{
            padding-left: 2.11%;
        }
    }
    
    .works-view-contents{
        display: flex;
        justify-content: center;
        margin-top: 96px;
        margin-bottom: 100px;

        .works-view-item-wrap{
            text-align: left;
            width: 24%;
            height: 151px;
            border-right:#c7c7c7 solid 1px;

            .works-view-title{
                color: #757575;
                margin-bottom: 17px;
                padding-left: 12%;
                border-left:#757575 solid 3px;
            }

            .works-view-item-text{
                margin-bottom: 44px;
                margin-left: 12.12%;
            }
        }

        .works-view-text{
            width: 57.86%;
            text-align: left;
            margin-left: 8.68%;
            line-height: $line-height;
        }
    }

    .work-view-img{
        img{
            max-width: 100%;
            margin-top: 50px;
        }

        img:first-of-type{
            vertical-align: top;
            max-width: 100%;
        }
    }

    .work-view-link{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 110px;
        width: 82.16%;

        /*--左矢印--*/
        .arrow-prev {
            position: relative;
          }       

        .arrow-prev::before { /* 背景の表示設定 */
            content: "";
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: -26px;
            width: 23px; /* 横幅 */
            height: 23px; /* 高さ */
            border-radius: 50%; /* 角の丸み */
            border: solid 1px;
        }          

        .arrow-prev::after { /* くの字の表示設定 */
            content: "";
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: -17px;
            width: 10px;
            height: 10px;
            border-top: 1px solid;
            border-right: 1px solid;
            transform: rotate(-135deg);
        }

        /*--右矢印--*/
        .arrow-next {
            position: relative;
        }    

        .arrow-next::before { /* 背景の表示設定 */
            content: "";
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: -27px;
            width: 23px; /* 横幅 */
            height: 23px; /* 高さ */
            border-radius: 50%; /* 角の丸み */
            border: solid 1px;
        }         

        .arrow-next::after { /* くの字の表示設定 */
            content: "";
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: -19px;
            width: 10px;
            height: 10px;
            border-top: 1px solid;
            border-right: 1px solid;
            transform: rotate(45deg);
        }
    }

    @media screen and (max-width: 1024px){
        margin: 45px auto auto auto;

        h2{
            font-size: 22px;
            margin-top: 15px;
        }

        .works-view-category{
            display: flex;
            justify-content: center;
            margin-top: 15px;

            .works-view-genre{
                padding-right: 5.33%;
            }

            .works-view-date{
                padding-left: 5.33%;
            }
        }

        .works-view-contents{
            display: block;
            justify-content: center;
            margin-top: 50px;

            .works-view-item-wrap{
                width: auto;
                height: auto;
                border-right:none;
                margin-bottom: 50px;

                .works-view-title{
                    margin-bottom: 10px;
                    padding-left: 3%;
                }

                .works-view-item-text{
                    margin-bottom: 10px;
                    margin-left: 8.8% ;
                }
            }

            .works-view-item-wrap-sp1{
                display: flex;
                width: 48%;
                justify-content: space-between;
                margin: 0 auto;
            }

            .works-view-item-wrap-sp2{
                display: flex;
                width: 70%;
                justify-content: space-between;
                margin: 0 auto;
            }

            .works-view-text{
                width: 85.33%;
                line-height: $line-height;
            }
        }
    }
}

/*--お問い合わせ--*/

.contactpage-wrap{
    margin: 95px auto 0 auto;
    text-align: left;
    max-width: 853px;
    
    .contact-form dl{
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 767px){
            display: block;
            text-align: center;
        }
    }

    .contact-form dt {
        font-weight: normal;
        width: 25%;
        padding:10px 0;

            @media screen and (max-width: 767px){
                width: auto;
                text-align: left;
                padding-left: 10%;
            }
    }
      
    .contact-form dd {
        width: 75%;
        margin-inline-start: 0;
        padding:10px 0;

            @media screen and (max-width: 767px){
                width: auto;
            }
    }

    span{
        color: #e86464;
    }

    input, textarea{
        background-color: #fff;
        border-radius: 0.2em;
        padding: 0.5em;
        width: 65%;

            @media screen and (max-width: 767px){
                width: 80%;
           }
        }

    .contactpage-button{
        width: 300px;
        margin: 93px auto 0 auto;
        position:relative;

        img {
            height: auto;
            left: 0;
            position: absolute;
            max-width: 100%;
        }

        img:last-of-type {
            opacity: 0;
            transition: opacity .7s;
        }

        &:hover img{
            opacity: 1;
        }

        a{
            display: block;
        }

        .contactpage-button--text{
            position: relative;
            /*top:14px;
            left:127px;*/
            width: 300px;
            text-align: center;
            height: 51px;
            line-height: 51px;
        }
    }

    .contactpage-text{
        margin-bottom: 80px;
        line-height: $line-height;
    }

    @media screen and (max-width: 1024px){
        .contactpage-button{
            img:last-of-type {
                opacity: 1;
            }
        }
    }

    @media screen and (max-width: 767px){
        .contactpage-button img:first-of-type {
            display: none;
        }
    }
}


/*--サンクスページ--*/

.thanks-wrap{
    margin: 0 auto;

    img{
        max-width: 100%;
    }

    .thanks-text{
    font-size: 2.19vw;
    margin-top: 251px;
    font-family: "YuMincho","游明朝体","Yu Mincho","游明朝";

        @media screen and (max-width: 767px){
            font-size: 5vw;
        }
    }

    .thanks-img{
        position: relative;
    }

    .thanks-img1{
        position: absolute;
        right: 0;
        top:180px;
        @media screen and (max-width: 767px){
            width: 47.73%;
        }
    }

    p{
        line-height: $line-height;
        margin-top: 150px;
        @media screen and (max-width: 767px){
            margin-top: 60px;
        }

        .br-sp{
            display: none;
            @media screen and (max-width: 767px){
                display: block;
            }
        }
    }
}

.thankspage-button{
    width: 300px;
    margin: 93px auto 0 auto;
    position:relative;
                  
    img {
        height: auto;
        left: 0;
        position: absolute;
        max-width: 100%;
    }

    img:last-of-type {
        opacity: 0;
        transition: opacity .7s;
    }

    &:hover img{
        opacity: 1;
    }

    a{
        display: block;
    }

    .thankspage-button-text{
        position: absolute;
        top:14px;
        width: 300px;
    }

    @media screen and (max-width: 1024px){
        img:last-of-type {
            opacity: 1;
        }
    }

    @media screen and (max-width: 767px){
        img:first-of-type {
            display: none;
       }
    }
}